.bg-product_5{
    height: 90vh;
      overflow: hidden;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      clip-path: polygon(100% 0, 0 0, 0 100%, 25% 89%, 100% 100%);
      background-image: radial-gradient(circle at top right,rgba(255,255,255,0) 20%,#524944 100%),url('../../../../../public/product-mg/product-sodium.png')!important;
      background-size: cover;
      top: 2rem;
  }
  .product_5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.87;
  }
  .product_5-overlay{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 800;
    z-index: 2;
  }
  .product_5-overlay h2{
    font-size: 2.7rem;
    margin-bottom: 10px;
    margin-left: 12rem;
   }
  .product_5-overlay P{
    color: #fff;
    margin-left: 6rem;
  }
  
  .product_5-overlay img{
    position: relative;
    width: 10rem;
    height: auto;
    margin-left: 6.5rem;
  }
    

  .product_5-side_data{
    margin-top: 12rem;
    margin-left: 47rem;
  }
  
  .molecular_p-5,
  .wt_p-5,
  .cas_p-5{
    margin-bottom: 1rem;
  }
  
  .molecular_p-5 h3,
  .wt_p-5 h3,
  .cas_p-5 h3{
    color: white;
  }
  .molecular_p-5,
  .wt_p-5,
  .cas_p-5 h4{
    color:rgba(255,255,255,0.5);
  }

@media screen and (max-width: 1024px) {
  .product_5-overlay {
    top: 50%; /* Adjust vertical position for smaller screens */
    left: 50%; /* Adjust horizontal position for smaller screens */
    transform: translate(-50%, -50%);
  }

  .product_5-overlay img {
    width: 7.5rem; /* Adjust image size for smaller screens */
    margin-left: -12rem; /* Adjust image margin for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  .bg-product_5{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .product_5-overlay {
    top: 40%; /* Adjust vertical position for even smaller screens */
    left: 50%; /* Adjust horizontal position for even smaller screens */
    transform: translate(-50%, -50%);
  }
  .product_5 h2{
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .product_5 p{
    margin-top: 6rem;
    margin-left: 1rem;
  }
  .product_5-overlay img {
    width: 6rem; /* Adjust image size for even smaller screens */
    margin-left: 2rem; /* Adjust image margin for even smaller screens */
  }
  .two-column-section {
    margin-top: 3rem;
    /* margin-bottom: -20rem; */
  }
}

/* @media only screen and (max-width: 1500px) {

  .product_5-side_data{
    margin-top: 24.5rem;
  }
} */

@media  screen and (min-width:1500px) {
  .product_5-side_data{
    margin-top: 24.5rem;
  }
}