.bg-product_2{
    height: 90vh;
      overflow: hidden;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      clip-path: polygon(100% 0, 0 0, 0 100%, 25% 89%, 100% 100%);
      background-image: radial-gradient(circle at top right,rgba(180,146,112,0.24) 20%,#b49270 100%),url('../../../../../public/product-mg/sunscreen.jpg')!important;      background-repeat: no-repeat;
      background-size: cover;
  }
  .product_2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.87;
  }

  .product_2-overlay{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 800;
    z-index: 2;
  }
  .product_2-overlay h2{
    font-size: 2.7rem;
  margin-bottom: 10px;
  margin-left: 12rem;
   }
  .product_2-overlay P{
    color: #fff;
    margin-left: 8rem;
  }
  
  .product_2-overlay img{
    position: relative;
    width: 13rem;
    height: auto;
    margin-left: 14rem;
  }

  
.product_2-side_data{
  margin-top: 12rem;
  margin-left: 47rem;
}

.molecular_p-2,
.wt_p-2,
.cas_p-2{
  margin-bottom: 1rem;
}

.molecular_p-2 h3,
.wt_p-2 h3,
.cas_p-2 h3{
  color: white;
  font-size: 1.2rem;
}
.molecular_p-2 h4,
.wt_p-2 h4,
.cas_p-2 h4{
  color:rgba(255,255,255,0.5);
  font-size: 1.2rem;
}


  .two-column-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
    
@media screen and (max-width: 1024px) {
  .product_2-overlay {
    top: 50%; /* Adjust vertical position for smaller screens */
    left: 50%; /* Adjust horizontal position for smaller screens */
    transform: translate(-50%, -50%);
  }

  .product_2-overlay img {
    width: 7.5rem; /* Adjust image size for smaller screens */
    margin-left: -12rem; /* Adjust image margin for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  .bg-product_2{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .product_2-overlay {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }

  .product_2-side_data {
    display: none;
  }
  .product_2 h2{
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .product_2 p{
    margin-left: 1rem;
  }
  .product_2-overlay img {
    width: 8rem; /* Adjust image size for even smaller screens */
    margin-left: 2rem; /* Adjust image margin for even smaller screens */
  }
  .two-column-section {
    margin-top: 3rem;
    /* margin-bottom: -20rem; */
  }
}

/* @media only screen and (max-width: 1500px) {

  .product_2-side_data{
    margin-top: 24.5rem;
  }
} */
